* {
	font-family: "Playfair Display", serif;
}

body {
	background-color: #121E25;
	color: white;
}

ul li {
	list-style: none;
	font-weight: bold;
}

h3 {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	font-size: 14px;
}

td {
	padding: 10px;
	color: transparent;
} 

#flowerfield {
	width: 500px;
	margin: 20px auto;
}

.flower {
	height: 50px;
	border: 2px dotted black;
}

.statRow {
	padding-top: 10px
}

.usedFlower {
	background-color: #544017 !important; 
}

.btn {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 540px) {

}

@media screen and (max-width: 780px) and (min-width: 541px) {

}

@media screen and (min-width: 992px) {
	#flowerfield {
		width: 500px;
		margin: 20px 25%;
	}
}

/* Honeycomb CSS */
.hexagon {
	position: relative;
	display: inline-block;
	/* left/right margin approx. 25% of .hexagon width + spacing */
	margin: -1.2px 4.2px;
}
.hexagon, .hexagon::before, .hexagon::after {
	/* easy way: height is width * 1.732, actual formula is 2*(width/(2*Math.tan(Math.PI/6))) */
	width: 15px;
	height: 26px;
	border-radius: 15%/3%;
}
.hexagon::before {
	background-color: inherit;
	content: "";
	position: absolute;
	transform: rotate(-60deg);
}
.hexagon::after {
	background-color: inherit;
	content: "";
	position: absolute;
	transform: rotate(60deg);
}
.hexagon:nth-child(even) {
	/* top approx. 50% of .hexagon height + spacing */
	top: 15px;
}
.hexagon:hover {
	opacity: .6;
	cursor: pointer;
}

#title {
	text-align: center;
	background-color: #BF8C32;
	border-bottom: white solid;
	border-width: 4px;
}

h1, h2 {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 5px;
}

img {
	max-height: 25px;
	margin-top: 5px;
}

#help:hover {
	cursor: pointer;
	color: black;
}

a {
	cursor: pointer;
	color: white;
}

a:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}